//@import "utils/variables";
//@import "utils/mixins";
//@import "utils/placeholders";
@import "utils/main.scss";
//@import "base/defaults";
@import "base/main.scss";
//@import "components/footer-form";
//@import "components/portfolio-activity";
//@import "components/portfolio-filter";
//@import "components/modal-backdrop";
//@import "components/modal";
//@import "components/modal-form";
//@import "components/modal-block";
//@import "components/modal-comment";
//@import "components/modal-agreement";
//@import "components/modal-button-form";
@import "components/main.scss";
/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  min-height: 80px;
  background-color: $white-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid $border-bottom-heder;
}

.header > .container {
  display: flex;
  align-items: center;
}

.logo-studio {
  margin-right: 93px;

  font-family: $sec-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $logstudio-color;
}
.logo-web {
  color: $accent-text-color;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-nav {
  display: flex;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: $main-text-color;

  /*transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: $accent-text-color;
}

.site-nav .nav-link.current {
  color: $accent-text-color;
}

.contact {
  display: flex;

  align-items: center;
}

.contact > .contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-item {
  color: $secondary-text-color;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $secondary-text-color;
  fill: $fill-icon;
  /*transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .contact-link:focus,
.contact .contact-link:hover {
  color: $accent-text-color;
}

.contact-link > .color-icon {
  color: $social-command-color;
}
.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.item {
  position: relative;
}

.actions::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;

  background-color: $accent-text-color;
  border-radius: 2px;
}

/* Hero */

.hero.section {
  padding: 0;
  background-color: $hero-bg-color;
}

.hero .overlay {
  background-image: linear-gradient(to right, $gradient-color, $gradient-color),
    url("../images/hero.jpg");
}

.block-hero {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.main-theme {
  text-align: center;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: $white-text-color;
}

.hero-button {
  border-radius: 4px;
  display: block;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: $accent-text-color;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $white-text-color;
}

/* Преимущества(advantages) */

.advantages {
  padding-top: 94px;

  display: flex;
}
.list-advantages > .item-list:not(:last-child) {
  margin-right: 30px;
}

.visually-heeden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.item-list {
  width: 270px;
}

.bg-svg {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $bg-command-color;
}

.icon-advantages {
  width: 70px;
  height: 70px;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  color: $main-text-color;
}

.description {
  line-height: 1.71;
  color: $secondary-text-color;
}

/* Чем мы занимаемся(work) */
.work,
.command,
.section-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title,
.text-title,
.client {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  color: $main-text-color;
}

.work-img {
  display: flex;
}
.img-item {
  display: block;
  width: 100%;
}

.work-img > .lable:not(:last-child) {
  margin-right: 30px;
}

.lable {
  position: relative;
  width: 370px;
}

.lable-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: $white-text-color;

  line-height: 1.14;
  font-weight: bold;
  white-space: nowrap;
}
.fon {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  background-color: $bg-lable-color;
}

/* Наша команда(command) */
.command {
  background-color: $bg-command-color;
}

.bloc-command {
  width: 270px;
  background-color: $white-text-color;
  box-shadow: $box-shadow-bloc-command;
}

.command-title {
  display: flex;
}

.command-title > .bloc-command:not(:last-child) {
  margin-right: 30px;
}

.img-command {
  display: block;
  width: 100%;
}

.bclock-employee {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: $main-text-color;
}

.specialty {
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: $secondary-text-color;
}

.command-social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.command-social > .item-command:not(:last-child) {
  margin-right: 10px;
}

.item-command {
  width: 44px;
  height: 44px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  fill: $social-command-color;
  color: $fill-icon;
  /*transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  fill: $white-text-color;
  background-color: $accent-text-color;
}

.command-icon {
  width: 20px;
  height: 20px;
}
/*Постоянные клиенты*/

.list-client {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid $social-command-color;
  border-radius: 4px;
  color: $social-command-color;
  fill: $fill-icon;
  /*transition-property: color, border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-client > .item-client:not(:last-child) {
  margin-right: 30px;
}

.item-client {
  width: 170px;
  height: 90px;
}
.yaco-icon {
  width: 44px;
  height: 49px;
}

.tagline-icon {
  width: 40px;
  height: 52px;
}
.company-icon {
  width: 41px;
  height: 43px;
}
.foster-icon {
  width: 80px;
  height: 42px;
}
.brand-icon {
  width: 59px;
  height: 47px;
}

.tag-icon {
  width: 88px;
  height: 45px;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid $accent-text-color;
  color: $accent-text-color;
}
/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-footer-hero;
}
.footer-list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
/*.footer-list > .link {
    margin-right: 70px;
  }*/

.log-studio {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $white-text-color;
}

.address {
  font-style: normal;
  line-height: 1.17;
  color: $white-text-color;
  margin-bottom: 9px;
}

.mail,
.tel {
  line-height: 1.17;
  color: $footer-text-color;
  /*transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail {
  margin-bottom: 9px;
}

.mail:hover,
.mail:focus {
  color: $accent-text-color;
}
.tel:hover,
.tel:focus {
  color: $accent-text-color;
}

.text-social {
  color: $white-text-color;

  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
}

.social-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $bg-color-social-footer;
  border-radius: 50%;
  color: $white-text-color;
  fill: $fill-icon;
  /*transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-social > .item-soc:not(:last-child) {
  margin-right: 10px;
}

.social-footer:hover,
.social-footer:focus {
  background-color: $accent-text-color;
}
.footer-icon {
  width: 20px;
  height: 20px;
}

.item-soc {
  width: 44px;
  height: 44px;
}
